#wrapper{
  height: 1000px;
  /*background-repeat: no-repeat;*/
  overflow: hidden;
}

.jumbotron{
  text-align: center;
  text-underline-position: below;
  background-color: 17a2b8;
}

content-wrapper{
  width: 100%;
  height:500px;
  position: relative;
  margin: auto;
  margin-top: 10px;
  padding: 15px;
  background-image: url(../img/wrapper2.jpg);
}
button{
  background: Transparent;
  padding: 20px;
  font-style: italic;
  font-family: inherit;
  border-radius: 50%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover{
  background: rgba(255, 191, 0, 0.3);
  color: white;
  border: 50%;
  padding; 20px;
}
