#wrapper{
  height: 1000px;
  /*background-repeat: no-repeat;*/
  overflow: hidden;
}

.jumbotron{
  text-align: center;
  text-underline-position: below;
  background-color: 17a2b8;
}

.container{
  width: 1800px;
  height:500px;
  position: relative;
  margin: auto;
  margin-top: 20px;
  padding: 15px;
  background-image: url(../img/dice.jpg);
}

#playtitle{
  text-decoration-color: blue;
}

button{
  background: Transparent;
  padding: 20px;
  font-style: italic;
  font-family: inherit;
  border-radius: 50%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover{
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: 50%;
  padding; 20px;
}
